In [1]:
l=["name", "email", "cellNum", "address"]
for i in l:
    print(i)

name
email
cellNum
address

In [2]:
l=["name", "email", "cellNum", "address"]
for i in l:
    print(i+"simo")

namesimo
emailsimo
cellNumsimo
addresssimo

In [3]:
a="sidimoha"
for i in a:
    print(i)

s
i
d
i
m
o
h
a

In [4]:
l

['name', 'email', 'cellNum', 'address']

In [5]:
for i in l:
    print(i)
else:
    print("if statment bla bla")

name
email
cellNum
address
if statment bla bla

In [6]:
for i in l:
    if i == "cellNum" :
        break
    print(i)
else:
    print("if statment bla bla")

name
email

In [7]:
a=1
while a<7:
    print (a)
    a=a+1

1
2
3
4
5
6

In [8]:
a=1
while a < 7 :
    print (a)
    if a == 5:
        break
    a=a+1

1
2
3
4
5

In [9]:
a=2
while a<20:
    print (a)
    if a == 7:
        break
    a=a+2

2
4
6
8
10
12
14
16
18

In [10]:
a=1
while a<5:
    print (a)
    a=a+1
    if a == 3:
        continue

1
2
3
4

In [11]:
a=1
while a <4:
    continue

KeyboardInterrupt:

In [66]:
while a<4:
    break

In [67]:
for i in l:
    pass

In [69]:
a+1
while a<4:
    pass

KeyboardInterrupt:

In [73]:
int a=X
while a<6:
    print (a)

SyntaxError: invalid syntax (1511074356.py, line 1)

In [76]:
list(range(6)) #generate data 0 to 6n excluding 6

[0, 1, 2, 3, 4, 5]

In [80]:
list(range(4,20,2))

[4, 6, 8, 10, 12, 14, 16, 18]

In [81]:
list(range(3,10,-1))

[]

In [82]:
 list(range(10,3,-1))

[10, 9, 8, 7, 6, 5, 4]

In [84]:
list(range(10,-5,-2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [87]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [106]:
n=7
for i in range (0,n):
    for j in range(0,i+1):
        print("simo ", end = "")   #end""is what make the printed result takes the pyramid form. it appends something at the end
    print("\r")  #\n =next line and \r new line without a gap. print("\n\n\n") will create 3 new lines between lines.

simo
simo simo
simo simo simo
simo simo simo simo
simo simo simo simo simo
simo simo simo simo simo simo
simo simo simo simo simo simo simo

In [111]:
n=5
for i in range (0,n):
    for j in range(0,i+1):
        print("simo", end = "PI ")
    print("\n\n\n")

simoPI



simoPI simoPI



simoPI simoPI simoPI



simoPI simoPI simoPI simoPI



simoPI simoPI simoPI simoPI simoPI

In [121]:
t=(7,8,3,4,4,4,5)
len(t)

7

In [124]:
#to print the indexes of the tupples
for i in range(len(t)):
    print (i)

0
1
2
3
4
5
6

In [123]:
#to print the indexes and the values of t
for i in range(len(t)):
    print (i, t[i])

0 7
1 8
2 3
3 4
4 4
5 4
6 5

In [125]:
t

(7, 8, 3, 4, 4, 4, 5)

In [127]:
 t[::-1] # to write the tuple in reverse

(5, 4, 4, 4, 3, 8, 7)

In [137]:
#to reverse the values of tuple using a for loop
list(range(len(t),0,-1))

[7, 6, 5, 4, 3, 2, 1]

In [133]:
for i in t: 
    print(i).

7
8
3
4
4
4
5

In [13]:
a ="lillia"
print(a)

lillia

In [2]:
n=["simo", 123, "sona"]
print(n)

['simo', 123, 'sona']

In [6]:
print(n[::-1])

['sona', 123, 'simo']